<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVO SPL`17</title>
    <style>
        #form {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }

        #add_person, #three_winners, #delete_person {
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div id="form">
    <form method="post">
        {% csrf_token %}
        <label for="name">Имя:</label>
        <input id="name" type="text">

        <input id="add_person" type="submit" value="Добавить участника">
        <input id="three_winners" type="submit" value="Выбрать победителей">
        <input id="delete_person" type="submit" value="Удалить участника">
    </form>
    <div id="show_results"></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script>

    $("#add_person").click(function () {
        $.ajax({
            'type': "POST",
            'url': {% url "add_person" %},
            'data': {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                'name': $("#name").val()
            },
            'success': function (data) {
                $("#show_results").text(data['success']);
            }
        });
        return false
    });

    $("#delete_person").click(function () {
        $.ajax({
            'type': "POST",
            'url': {% url "delete_person" %},
            'data': {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                'name': $("#name").val()
            },
            'success': function (data) {
                $("#show_results").text(data['success']);
            }
        });
        return false
    });

    $("#three_winners").click(function () {
        $.ajax({
            'type': "POST",
            'url': {% url "random" %},
            'data': {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
            },
            'success': function (data) {
                $("#show_results").text(data['success']);
            }
        });
        return false
    })

</script>
</body>
</html>